main{
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}

p{
    color: black;
    
}

.about{
    
    padding: 25px;
}

img {
    height: 150px;
    width: 150px ;
    
}

.column{
    float: left;
    margin-right: 16px;
    width: 30%;
    margin-top: 16px;
}
.column h2{
    padding: 10px;

}

.container{
    width: 90%;
}

.card{
    box-shadow: 0px 4px 8px 0 #b3b3b3f5;
    padding: 16px;
    
}

.outer-bg-cover{
    background-color: rgba(71, 87, 104, 0.75);
}
.inner-bg-cover{
    background-color: white;
    width: auto;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    padding: 20px
}
.row{
    justify-content: center;
}